/* Mahir Riki
IntroCS pd5 sec08
HW04 -- Stuylin'
2021-2-09 
*/

p {
    color: green; /* changes the color of paragraphs to green */
    font-size: large; /* makes the size of the font for paragraphs large */
}

li {
    color: rgb(201, 87, 87);
    font-size: medium;
}

html {
    background-color: rgb(231, 231, 221);
    font-family: 'Times New Roman', Times, serif; /* changes the whole webpage's font to Times New Roman */
}

ul {
    border: 1px solid black; /* creates a border with a 1px thickness */
}

h1 {
    text-decoration: underline; /* underlines the h1 text */
}